<h6>Dashboard!!!</h6>
<h3>Welcome {{name}} works</h3>
<p>Here are all your stories. {{name}}</p>
{{#if stories}}
<table class="striped">
    <thead>
        <tr>
            <th>Title</th>
            <th>Date</th>
            <th>Status</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{#each stories}}
            <tr>
                <td><a href="/stories/{{_id}}"></a>{{title}}  </td>
                <td>{{formatDate createdAt 'MMMM Do YYYY, h:mm:ss a'}}</td>
                <td><span class="dash-status">{{status}}</span></td>
                <td>
                     <a href="/stories/edit/{{_id}}" class="btn btn-float">
                     <i class="fas fa-edit"></i></a>
                     <form action="/stories/{{_id}}" method="POST" id="delete-form">
                        <input type="hidden" name="_method" value="DELETE">
                        <button type="submit" class="btn red">
                            <i class="fas fa-trash"></i>
                        </button>
                     </form>
                </td>
            </tr>
        {{/each}}
    </tbody>
    {{else}}
    </table>
    <p>You have not created any stories</p>
    {{/if}}
